body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Light Gray */
  color: #333333; /* Dark Gray */
}

header {
  background-color: #4caf50; /* Green */
  color: #fff; /* White */
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}
.upload-section h2 {
  text-align: center;
}
.upload-section input[type="file"] {
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #4caf50; /* Green */
  border-radius: 5px;
  background-color: #fff; /* White */
  cursor: pointer;
  transition: all 0.3s ease;
  color: #4caf50; /* Green */
}

.upload-section input[type="file"]:hover {
  background-color: #4caf50; /* Green */
  color: #fff; /* White */
}

.comparison-section {
  display: flex;
  justify-content: space-between;
}

.comparison-container {
  width: calc(50% - 10px); /* Adjust width and spacing as needed */
  border: 2px solid #4caf50; /* Green */
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff; /* White */
  display: flex; /* Make the container a flex container */
  flex-direction: column; /* Arrange items vertically */
  justify-content: space-between; /* Add space between header and content */
}

.comparison-container h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

.canvas-container canvas {
  display: block;
  max-width: 100%; /* Ensure the image fits within its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Rounded corners */
}

.ascii-container pre {
  overflow: auto; /* Enable scrolling for overflow */
  width: 100%; /* Ensure the ASCII art fills its container */
  max-height: 100%; /* Limit the height of the ASCII art */
  border-radius: 5px; /* Rounded corners */
  margin: 0; /* Reset margin */
  font-size: 1px;
}

.download-section {
  margin-top: 60px; /* Adjust the margin top to create space for the footer */
  text-align: center;
}

#downloadButton {
  padding: 10px 20px; /* Add padding to the button */
  background-color: #ff9800; /* Orange */
  color: #fff; /* White */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Add cursor pointer */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  transition: background-color 0.3s ease; /* Add transition effect */
}

#downloadButton:hover {
  background-color: #388e3c; /* Dark Green */
}

footer {
  background-color: #4caf50; /* Green */
  color: #fff; /* White */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999; /* Ensure the footer stays on top of other content */
}
